# Generate with: openssl rand -hex 32
RPC_SECRET=changeme-generate-with-openssl-rand-hex-32

# Generate with: openssl rand -base64 32
GARAGE_ADMIN_TOKEN=changeme-generate-with-openssl-rand-base64-32
GARAGE_METRICS_TOKEN=changeme-generate-with-openssl-rand-base64-32
