# Generate INFISICAL_ENCRYPTION_KEY with: openssl rand -hex 16
INFISICAL_ENCRYPTION_KEY=

# Generate INFISICAL_AUTH_SECRET with: openssl rand -base64 32
INFISICAL_AUTH_SECRET=

# Choose a strong password
INFISICAL_DB_PASSWORD=
